.card__container {
    margin: 10px 30px;
    line-height: 1.3;
    border-bottom: 1px solid;
}

.card-description__container {
    margin-top: -40px;
}

.card__description {
    font-family: 'Cormorant Garamond', serif;
}

.card-img {
    color: #99738E;
}

.card__title {
    font-family: 'Proza Libre', sans-serif;
    color: #99738E;
    font-size: 22px;
}

@media only screen and (min-width: 768px) {
    .card__container {
        text-align: center;
        width: 33%;
        border-bottom: none;
        padding-right: 20px;
    }

    .card__container:not(:last-child) {
        border-right: 1px solid;
    }
}