.favorites__container {
    text-align: center;
    margin-left: 10px;
}

.favorites {
    padding-top: 20px;
    padding-bottom: 20px;
}

.favorites__title {
    font-family: 'Proza Libre', sans-serif;
    color: #F64C72;
    text-decoration: none;
}

.view-button, .remove-button {
    margin-top: 15px;
}

.remove-button {
    margin-right: 10px;
}

@media only screen and (min-width: 768px) {
    .favorites {
        width: 25%;
    }
    .favorites__container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}