.footer__container {
    text-align: center;
    width: 100%;
}

.footer-label__words {
    font-family: 'Cormorant Garamond', serif;
    color: #99738E;
    padding-top: 15px;
}

a {
    padding-right: 15px;
    padding-bottom: 15px;
};