.hero__container {
    text-align: center;
    line-height: 1.5;
    padding-top: 100px;
}

.hero-header__text {
    font-family: 'Proza Libre', sans-serif;
    font-weight: bold;
    padding: 15px;
    font-size: 24px;
}

.hero-title{
  color: #99738E;
}

.hero-description__container {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.hero-button__btn {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
};